* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.clearfix::after {
    display: table;
    clear: both;
    content: "";
}
[class^="col-"] {
    float: left;
}
/* BIG SCREEN */
/* big screen column */
.col-1 {
    width: calc((100% / 12) * 1)
}
.col-2 {
    width: calc((100% / 12) * 2)
}
.col-3 {
    width: calc((100% / 12) * 3)
}
.col-4 {
    width: calc((100% / 12) * 4)
}
.col-5 {
    width: calc((100% / 12) * 5)
}
.col-6 {
    width: calc((100% / 12) * 6)
}
.col-7 {
    width: calc((100% / 12) * 7)
}
.col-8 {
    width: calc((100% / 12) * 8)
}
.col-9 {
    width: calc((100% / 12) * 9)
}
.col-10 {
    width: calc((100% / 12) * 10)
}
.col-11 {
    width: calc((100% / 12) * 11)
}
.col-12 {
    width: calc((100% / 12) * 12)
}
/* big screen offset */
.col-offset-1 {
    margin-left: calc((100% / 12) * 1)
}
.col-offset-2 {
    margin-left: calc((100% / 12) * 2)
}
.col-offset-3 {
    margin-left: calc((100% / 12) * 3)
}
.col-offset-4 {
    margin-left: calc((100% / 12) * 4)
}
.col-offset-5 {
    margin-left: calc((100% / 12) * 5)
}
.col-offset-6 {
    margin-left: calc((100% / 12) * 6)
}
.col-offset-7 {
    margin-left: calc((100% / 12) * 7)
}
.col-offset-8 {
    margin-left: calc((100% / 12) * 8)
}
.col-offset-9 {
    margin-left: calc((100% / 12) * 9)
}
.col-offset-10 {
    margin-left: calc((100% / 12) * 10)
}
.col-offset-11 {
    margin-left: calc((100% / 12) * 11)
}
.col-offset-12 {
    margin-left: calc((100% / 12) * 12)
}

/* MEDIUM SCREEN */
/* medium screen column */
@media all and (max-width: 992px) {
    .col-md-1 {
        width: calc((100% / 12) * 1)
    }
    .col-md-2 {
        width: calc((100% / 12) * 2)
    }
    .col-md-3 {
        width: calc((100% / 12) * 3)
    }
    .col-md-4 {
        width: calc((100% / 12) * 4)
    }
    .col-md-5 {
        width: calc((100% / 12) * 5)
    }
    .col-md-6 {
        width: calc((100% / 12) * 6)
    }
    .col-md-7 {
        width: calc((100% / 12) * 7)
    }
    .col-md-8 {
        width: calc((100% / 12) * 8)
    }
    .col-md-9 {
        width: calc((100% / 12) * 9)
    }
    .col-md-10 {
        width: calc((100% / 12) * 10)
    }
    .col-md-11 {
        width: calc((100% / 12) * 11)
    }
    .col-md-12 {
        width: calc((100% / 12) * 12)
    }
    /* medium screen offset */
    .col-md-offset-0 {
        margin-left: calc((100% / 12) * 0)
    }
    .col-md-offset-1 {
        margin-left: calc((100% / 12) * 1)
    }
    .col-md-offset-2 {
        margin-left: calc((100% / 12) * 2)
    }
    .col-md-offset-3 {
        margin-left: calc((100% / 12) * 3)
    }
    .col-md-offset-4 {
        margin-left: calc((100% / 12) * 4)
    }
    .col-md-offset-5 {
        margin-left: calc((100% / 12) * 5)
    }
    .col-md-offset-6 {
        margin-left: calc((100% / 12) * 6)
    }
    .col-md-offset-7 {
        margin-left: calc((100% / 12) * 7)
    }
    .col-md-offset-8 {
        margin-left: calc((100% / 12) * 8)
    }
    .col-md-offset-9 {
        margin-left: calc((100% / 12) * 9)
    }
    .col-md-offset-10 {
        margin-left: calc((100% / 12) * 10)
    }
    .col-md-offset-11 {
        margin-left: calc((100% / 12) * 11)
    }
    .col-md-offset-12 {
        margin-left: calc((100% / 12) * 12)
    }

}
/* SMALL SCREEN */
@media all and (max-width:767px) {
    .col-s-1 {
        width: calc((100% / 12) * 1)
    }
    .col-s-2 {
        width: calc((100% / 12) * 2)
    }
    .col-s-3 {
        width: calc((100% / 12) * 3)
    }
    .col-s-4 {
        width: calc((100% / 12) * 4)
    }
    .col-s-5 {
        width: calc((100% / 12) * 5)
    }
    .col-s-6 {
        width: calc((100% / 12) * 6)
    }
    .col-s-7 {
        width: calc((100% / 12) * 7)
    }
    .col-s-8 {
        width: calc((100% / 12) * 8)
    }
    .col-s-9 {
        width: calc((100% / 12) * 9)
    }
    .col-s-10 {
        width: calc((100% / 12) * 10)
    }
    .col-s-11 {
        width: calc((100% / 12) * 11)
    }
    .col-s-12 {
        width: calc((100% / 12) * 12)
    }
    /* medium screen offset */
    .col-s-offset-0 {
        margin-left: calc((100% / 12) * 1)
    }
    .col-s-offset-1 {
        margin-left: calc((100% / 12) * 1)
    }
    .col-s-offset-2 {
        margin-left: calc((100% / 12) * 2)
    }
    .col-s-offset-3 {
        margin-left: calc((100% / 12) * 3)
    }
    .col-s-offset-4 {
        margin-left: calc((100% / 12) * 4)
    }
    .col-s-offset-5 {
        margin-left: calc((100% / 12) * 5)
    }
    .col-s-offset-6 {
        margin-left: calc((100% / 12) * 6)
    }
    .col-s-offset-7 {
        margin-left: calc((100% / 12) * 7)
    }
    .col-s-offset-8 {
        margin-left: calc((100% / 12) * 8)
    }
    .col-s-offset-9 {
        margin-left: calc((100% / 12) * 9)
    }
    .col-s-offset-10 {
        margin-left: calc((100% / 12) * 10)
    }
    .col-s-offset-11 {
        margin-left: calc((100% / 12) * 11)
    }
    .col-s-offset-12 {
        margin-left: calc((100% / 12) * 12)
    }
    /* SMARTPHONE LAYOUT */
    /* ASIDE */
    .ms_logo {
        display: none;
    }
    li.ms_logo_mobile {
        display: block;
    }
    .ms_pages_menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li.ms_logo_mobile i{
        font-size: 25px;
        color: white;
    }
    .ms_pages_menu_list span{
        display: none;
    }
    .ms_pages_menu_list li {
        font-size: 10px;
        padding-left: 5px;
    }
    .ms_pages_menu_list li i {
        padding-right: 5px;

    }
    .ms_playlist_menu {
        display: none;
    }
    .ms_downside-part span{
        display: none;
    }
    .ms_downside-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ms_downside-part i {
        font-size: 20px;
        margin-top: 10px;
        padding-right: 10px;
    }
    .ms_downside-part hr {
        display: none;
    }
    /* HEADER */
    .ms_upgrade-button {
        right: 20px;
        padding: 15px;
    }
    /* FOOTER */
    .ms_now_playing_cover {
        align-self: center;
    }
    .ms_now_playing p {
        font-size: 10px;
    }
    .ms_now_playing_cover img {
        height: 30px;
    }
    .ms_now_playing_icons{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .ms_now_playing_icons i {
        font-size: 15px;
        padding-right: 0px;
    }
    .ms_control_icons i{
        font-size: 10px;
    }
    .ms_control_icons {
    }
    .ms_control_icons i.fa-play-circle {
        font-size: 15px;
    }
    .ms_volume_control {
        justify-content: center;
    }
    .ms_volume_control i {
        font-size: 10px;
        padding-right: 10px;
    }
    .ms_slider {
        display: none;
    }
}
