* {
    padding: 0;
    box-sizing: border-box;
    margin:0;
    font-family: 'Rubik', sans-serif;
}

/* ASIDE MENU */
aside.ms_aside-menu {
    height: calc(100vh - 70px);
    background-color: black;
    float: left;
    color: #6b6b6b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ms_logo {
    height: 40px;
    margin-top: 20px;
    padding-left: 20px;
}
.first-part a {
    color: #6b6b6b;
    text-decoration: none;
}
.first-part a:hover {
    color: white;
}
.ms_pages_menu_list {
    list-style: none;
    line-height: 40px;
    margin-top: 20px;
}
.ms_pages_menu_list li i {
    font-size: 20px;
    padding-right: 20px;
}
.ms_logo_mobile {
    display: none;
}
.ms_pages_menu_list li {
    padding-left: 20px;
}
.ms_pages_menu_list li:hover {
    border-left: 3px solid green;
}
.ms_playlist_menu {
    padding-left: 20px;
}
.ms_playlist_menu h4 {
    text-transform: uppercase;
    margin: 20px 0px;
}
.ms_create_playlist i {
    font-size: 40px;
    vertical-align: bottom;
    padding-right: 5px;
}
.ms_create_playlist {
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
}
.ms_paylist_menu_list {
    list-style: none;
    line-height: 30px;
    margin-top: 20px;
}
/* downside */
.ms_downside-part {
    padding: 0 20px;
    margin-bottom: 10px;
    font-size: 12px;
}
.ms_downside-part a{
    color: white;
    text-decoration: none;
}
.ms_downside-part hr{
    margin: 5px 0px;
}
.ms_downside-part i{
    font-size: 20px;
    padding-right: 5px;
}
#account_name {
    color: white;
}
/* HEADER */
.ms_header-container {
    position: relative;
    float: left;
    background-color: #141922;
    height: 80px;

}
.ms_upgrade-banner {
    height: 80px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
}
.ms_upgrade-button {
    text-transform: uppercase;
    background: none;
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    border: 1px solid white;
}
.ms_upgrade-button:hover {
  cursor: pointer;
  padding: 12px 32px;
}
/* MAIN */
.ms_main-container {
    float: left;
    height: calc(100vh - 150px);
    background-color: #141922;
    overflow-y: auto;
    padding: 20px;
}
/* upper menu */
.ms_upper_menu {
    height: 60px;
    display: flex;
}
.ms_upper_menu_list li {
    display: inline-block;
    text-transform: uppercase;
    color: #7a7d82;
    font-size: 12px;
    margin-right: 20px;
}
.ms_upper_menu_list li:hover {
    cursor: pointer;
    color: white;
    border-bottom: 3px solid green;
}
/* album */
.ms_section_title {
    color: white;
}
.ms_album-row {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
}

.ms_album_content {
    padding: 15px;
}
.ms_album_cover {
    position: relative;
}
.ms_album_cover img {
    width: 100%;
}
.ms_album_info {
    text-align: center;
}
.ms_album_title {
    color: white;
    margin: 10px 0;
}
.ms_album_artist {
    color: #6e7175;
}
.ms_section_undertitle {
    color: #6e7176;
}
.ms_artist_cover {
    position: relative;
}
.ms_album_cover.round img{
    border-radius: 50%;
}
.ms_artist_cover img {
    height: 100%;
}
/* hover */
.ms_play_hover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 0;
}
.ms_play_hover_icon{
    font-size: 60px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.ms_album_cover:hover .ms_play_hover{
    display: block;
    cursor: pointer;
}
.ms_play_hover_round {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    top: 0;
    border-radius: 50%;
}
.ms_album_cover:hover .ms_play_hover_round{
    display: block;
    cursor: pointer;
}
/* PLAYER */
footer {
    height: 70px;
    background-color: #282828;
    float: left;
    z-index: 99;
    width: 100%;
}
.ms_player-container {
    height: 100%;
    line-height: 70px;
}

/* now playing */
.ms_now_playing {
    display: flex;
    flex-shrink: 1;
    float: left;
}
.ms_now_playing_song {
    display: flex;
}
.ms_now_playing_cover {
    display: flex;
    height: 100%
}
.ms_now_playing_cover img {
    height: 50px;
    align-self: center;
}
.ms_now_playing_info {
    align-self: center;
}
.ms_now_playing_info p{
    font-size: 12px;
    line-height: 15px;
    padding-left: 10px;
}
.ms_now_playing_title {
    color: white;
}
.ms_now_playing_title_artist {
    color: #6c6c6c;
}
.ms_now_playing_icons i{
    padding-right: 10px;
    color: #666666;
}
/* player */
.ms_player {
    float: left;
}
.ms_control_icons {
    display: flex;
    justify-content: space-between;
}
.ms_player_container {
    height: 70px;
    display: flex;
    flex-wrap: wrap;
}
.ms_control_icons i{
    font-size: 15px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
    color: #6e7176;
    line-height: 30px;
    vertical-align: middle;
}
.ms_control_icons i.fa-play-circle {
    font-size: 30px;
}
.ms_control_icons i.fa-play-circle:active {
  color: white;
}
.ms_timeline {
    height: 0;
    border: 2px solid #6e7176;
    border-radius: 5px;
}
/* volume control */
.ms_volume_control {
    display: flex;
    align-content: center;
}
.ms_volume_control_icons {
    color: white;
    font-size: 12px;
}
.ms_icons_container i {
    padding-right: 10px;
    align-self: center;
}
.ms_icons_container {
    display: flex;
    height: 70px;
    justify-content: space-around;
}
.ms_volume_line {
    height: 70px;
    display: flex;
    align-items: center;
}
.ms_volume_line i {
    padding-right: 5px;
    color: white;
    font-size: 12px;
}
.ms_slider {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    background: green;
    outline: none;
}
/* SMARTPHONE LAYOUT */
@media all and (max-width: 767px){
    /* ASIDE */
    .ms_logo {
        display: none;
    }
    li.ms_logo_mobile {
        display: block;
    }
    .ms_pages_menu_list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    li.ms_logo_mobile i{
        font-size: 25px;
        color: white;
    }
    .ms_pages_menu_list span{
        display: none;
    }
    .ms_pages_menu_list li {
        font-size: 10px;
        padding-left: 5px;
    }
    .ms_pages_menu_list li i {
        padding-right: 5px;

    }
    .ms_playlist_menu {
        display: none;
    }
    .ms_downside-part span{
        display: none;
    }
    .ms_downside-part {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ms_downside-part i {
        font-size: 20px;
        margin-top: 10px;
        padding-right: 10px;
    }
    .ms_downside-part hr {
        display: none;
    }
    /* HEADER */
    .ms_upgrade-button {
        right: 20px;
        padding: 15px;
    }
    /* FOOTER */
    .ms_now_playing_cover {
        align-self: center;
    }
    .ms_now_playing p {
        font-size: 10px;
    }
    .ms_now_playing_cover img {
        height: 30px;
    }
    .ms_now_playing_icons{
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    .ms_now_playing_icons i {
        font-size: 15px;
        padding-right: 5px;
    }
    .ms_control_icons i{
        font-size: 13px;
    }
    .ms_control_icons {
    }
    .ms_control_icons i.fa-play-circle {
        font-size: 20px;
    }
    .ms_volume_control {
        justify-content: center;
    }
    .ms_volume_control i {
        font-size: 10px;
        padding-right: 10px;
    }
    .ms_slider {
        display: none;
    }
}
